
<!doctype html>
<?php header('Access-Control-Allow-Origin: *'); ?>

<html ng-app="starter">
	<head>

		<meta charset="utf-8" />
		<title>Greencampus</title>

		<script src="lib/ionic/js/ionic.bundle.js"></script>
		<script src="lib/ionic/js/angular-ui/ui-bootstrap.js"></script>
    	<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>



	</head>
  	<body ng-controller="AppCtrl">
		<div>
			
			
			<button  class="btn btn-block btn-primary" ng-click="goToListTrees()">List trees</button>
			<button  class="btn btn-block btn-primary" ng-click="goToMap()">Map</button>
			<button  class="btn btn-block btn-primary" ng-click="goToDetailSpecies()">Detail alder</button>

			<button  class="btn btn-block btn-primary" >Events</button>
			<button  class="btn btn-block btn-primary" >Partners</button>


		</div>

	</body>
</html>